#empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    max-width: 17.75rem;
    width: 100%;

    p {
      margin-top: 1rem;

      font-family: "Poppins";
      font-size: 1.125rem;
      font-weight: 600;
      color: #29292e;

      line-height: 27px;
    }

    span {
      margin-top: 0.5rem;

			display: block;

      font-size: 0.875rem;
      color: #737380;

      line-height: 21px;
      text-align: center;
    }
  }
}
